.contact{
    position: relative;
    width: 60%;
    margin: auto;
    background-color:aliceblue; 
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius:10px;;
}

.contact__heading{
    text-align: center;
    border-radius:10px;
}

.contact__item{
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 10px;
    background-color: white;
    text-align: center;
  }
  
.contact__item p {    
    margin-bottom: var(--spacing-1)
  }