.header{
    width: 60%;
    position: relative;
    margin: auto;
    background-color:aliceblue ;
    padding: 20px;
}

.header-name {
    text-align: center;
    font-size: large;
    color:cornsilk;
    background-color:cadetblue;
    border-radius:10px;
}

.header-job {
    text-align: center;
    font-size: medium;
    margin: auto;
    padding-bottom: 10px;
}
